version: "3.9"

volumes:
  data:

services:
  # -------------------------
  # INGESTION
  # -------------------------
  data-ingestion:
    build: ./data-ingestion
    container_name: data-ingestion
    volumes:
      - ./data:/data

  # -------------------------
  # CLEANING (PARALELO)
  # -------------------------
  data-cleaning-1:
    build: ./data-cleaning
    container_name: data-cleaning-1
    volumes:
      - ./data:/data
    environment:
      WORKER_ID: 0
      TOTAL_WORKERS: 2
    depends_on:
      - data-ingestion

  data-cleaning-2:
    build: ./data-cleaning
    container_name: data-cleaning-2
    volumes:
      - ./data:/data
    environment:
      WORKER_ID: 1
      TOTAL_WORKERS: 2
    depends_on:
      - data-ingestion

  # -------------------------
  # ANALYSIS (PARALELO)
  # -------------------------
  data-analysis-1:
    build: ./data-analysis
    container_name: data-analysis-1
    volumes:
      - ./data:/data
    environment:
      WORKER_ID: 0
      TOTAL_WORKERS: 2
    depends_on:
      - data-cleaning-1
      - data-cleaning-2

  data-analysis-2:
    build: ./data-analysis
    container_name: data-analysis-2
    volumes:
      - ./data:/data
    environment:
      WORKER_ID: 1
      TOTAL_WORKERS: 2
    depends_on:
      - data-cleaning-1
      - data-cleaning-2

  # -------------------------
  # AGGREGATION
  # -------------------------
  data-aggregator:
    build: ./data-aggregator
    container_name: data-aggregator
    volumes:
      - ./data:/data
    depends_on:
      - data-analysis-1
      - data-analysis-2

  # -------------------------
  # ECONOMIC INDEX
  # -------------------------
  data-economic-index:
    build: ./data-economic-index
    container_name: data-economic-index
    volumes:
      - ./data:/data
    depends_on:
      - data-aggregator

  # -------------------------
  # CORRELATION
  # -------------------------
  data-correlation:
    build: ./data-correlation
    container_name: data-correlation
    volumes:
      - ./data:/data
    depends_on:
      - data-economic-index

  # -------------------------
  # VISUALIZATION / API
  # -------------------------
  data-visualization:
    build: ./data-visualization
    container_name: data-api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    depends_on:
      - data-correlation
